# Miscellaneous
ui/*.class
ui/*.log
ui/*.pyc
ui/*.swp
ui/.DS_Store
ui/.atom/
ui/.build/
ui/.buildlog/
ui/.history
ui/.svn/
ui/.swiftpm/
ui/migrate_working_dir/

# IntelliJ related
ui/*.iml
ui/*.ipr
ui/*.iws
ui/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
ui/**/doc/api/
ui/**/ios/Flutter/.last_build_id
ui/.dart_tool/
ui/.flutter-plugins-dependencies
ui/.pub-cache/
ui/.pub/
ui/build/
ui/coverage/

# Symbolication related
ui/app.*.symbols

# Obfuscation related
ui/app.*.map.json

# Android Studio will place build artifacts here
ui/android/app/debug
ui/android/app/profile
ui/android/app/release
