/**/.idea
/**/dist
/**/bin
/**/node_modules

compose/*
/**/test-compose
/dock/
dock/*

install/stacks/
/config/
/install/config/
/core/compose


/**/build
/**/appdata

/**/.task
/core/internal/git/git_test/

/core/internal/git/tests/
/core/internal/backup/tests/
/install/docker/
/core/internal/git/test/
.dev/
/core/internal/**/*.json
